<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
<ion-header>
  <ion-toolbar>
    <ion-title>BANCO BHDLEON</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Inputs with labels -->
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <!-- Input with clear button when there is a value -->
    <ion-input clearInput></ion-input>
  </ion-item>

  <!-- Inputs with labels -->
  <ion-item>
    <ion-label>Contrasena:</ion-label>
    <!-- Input with clear button when there is a value -->
    <ion-input clearInput></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Recordar mi usuario</ion-label>
    <ion-toggle slot="end" checked></ion-toggle>
  </ion-item>

</ion-content>
<ion-button type="submit" expand="block">Entrar</ion-button>
</form>